* {
	color: white;
	/* background-color: #353535; */
	background-color: #252525;
}

a:hover,
a:hover * {
	color: #40a0ff
}

.h_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
}

.v_flex {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.wrap_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: normal;
	flex-wrap: wrap;
}

.wrap_flex a {
	width: 150px;
	height: 150px;
	text-decoration: none;
	border-radius: 25%;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	overflow: hidden;
	transform: scale(1);
}

.wrap_flex a:hover {
	transform: scale(1.4);
	transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wrap_flex figure {
	display: grid;
	grid-template-rows: 1fr 30px;
	height: 100%;
	margin: 0;
}

.wrap_flex img {
	width: 100%;
	overflow: hidden;
}

.wrap_flex figcaption {
	z-index: 1;
	text-align: center;
	width: 100%;
	background-color: rgba(128, 128, 128, 0.5);
	padding: 5px;
	border: none;
}

body {
	margin: 0;
	height: 100svh;
	display: grid;
	grid-template-columns: 1fr 500px 1fr;
	grid-template-rows: min-content;
	grid-template-areas:
		". header ."
		". main ."
		"footer footer footer";
}

header {
	grid-area: header;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#profile_pic {
	border-radius: 25%;
	margin-top: 100px;
}

header h1 {
	margin: 10px;
}

main {
	grid-area: main;
	background-color: #252525;
	display: flex;
	align-items: center;
	flex-direction: column;
}

nav {
	height: 25px;
	width: 100%;
}

nav a {
	height: 100%;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

nav img {
	height: 100%;
}

footer {
	grid-area: footer;
}